extends layout
include mixins/_reserv_Form

block content
  a(href="/admin")
    button(type="button" class="button_small") Back to admin
  h3= title 
        
  hr
  

  div(id="logadmin")
    
    each data in courseData
      +reservForm(data)

     
            
      

       
             





    //- article(class="item")
    //-    div
    //-     p= `Nom :${order.name} || Le : ${order.createdOn.toDateString()}`
    //-     p= `Numero de telephone:${order.num_tel} `
    //-     p= `Nombre de personne:${order.nombre_personne} `
    //-     p= `Addresse de départ:${order.addresse_depart } `
    //-     p= `Addresse d'arrivée:${order.addresse_fin } `
    //-     p= `Date de départ:${order.date_depart}`
    //-     p= `Heure de départ:${order.heure_depart} `