extends layout
include mixins/_reserv_Form

block content
  div(class="wrapper")
    div(class="page-header clear-filter" filter-color="orange")
      div(class="page-header-image" data-parallax="true" style="background-image:url('/assets/img/vtc3.jpg');")
    a(href="/admin")
      button(type="button" class="btn btn-danger btn-round  ") Back to admin
    div(class="espaceuser")
      h3(class="title")= title
  
    
    each data in courseData
      +reservForm(data)

     
            
      

       
             





    //- article(class="item")
    //-    div
    //-     p= `Nom :${order.name} || Le : ${order.createdOn.toDateString()}`
    //-     p= `Numero de telephone:${order.num_tel} `
    //-     p= `Nombre de personne:${order.nombre_personne} `
    //-     p= `Addresse de départ:${order.addresse_depart } `
    //-     p= `Addresse d'arrivée:${order.addresse_fin } `
    //-     p= `Date de départ:${order.date_depart}`
    //-     p= `Heure de départ:${order.heure_depart} `