mixin reservForm(data)
  div(class="section section-contact-us text-center")
    div(class="container")
      if url==="/user"  
        h3(class="title")=title
        div(class="row")
          div(class="col-lg-12 text-center col-md-8 ml-auto mr-auto")
            form(action="/confirmation" method="POST")

              div(class="input-group input-lg")
                div(div class="input-group-prepend")
                  span(class="input-group-text")
                    i(i class="now-ui-icons users_single-02")
                input(type="text" name="name" class="form-control" id="name" placeholder="Nom - Prenom: " required)
              div(class="input-group input-lg")
                div(div class="input-group-prepend")
                  span(class="input-group-text")
                    i(i class="now-ui-icons tech_mobile")
                input(type="tel" name="num_tel" class="form-control" id="num_tel" placeholder="Numero de telephone: " required)
              div(class="input-group input-lg")
                div(div class="input-group-prepend")
                  span(class="input-group-text")
                    i(i class="now-ui-icons sport_user-run")
                input(type="number" name="nombre_personne" class="form-control" id="nombre_personne" min="1" max="3" placeholder="nombre de personne " required)
              div(class="input-group input-lg")
                div(div class="input-group-prepend")
                  span(class="input-group-text")
                    i(i class="now-ui-icons shopping_shop")
                input(type="text" name="addresse_depart" class="form-control" id="addresse_depart"  placeholder="addresse de depart " required)
              div(class="input-group input-lg")
                div(div class="input-group-prepend")
                  span(class="input-group-text")
                    i(i class="now-ui-icons shopping_shop")
                input(type="text" name="addresse_fin" class="form-control" id="addresse_fin"  placeholder="addresse d'arrivée " required)
              div(class="input-group input-lg")
                div(div class="input-group-prepend")
                  span(class="input-group-text")
                    i(i class="now-ui-icons education_paper")
                input(type="date" name="date_depart" class="form-control" id="date_depart"  placeholder="date de départ " required)
              div(class="input-group input-lg")
                div(div class="input-group-prepend")
                  span(class="input-group-text")
                    i(i class="now-ui-icons tech_watch-time")
                input(type="time" name="heure_depart" class="form-control" id="heure_depart"  placeholder="heure de départ " required)
              button(type="submit" class="btn btn-info btn-round btn-block  btn-lg"  ) CONFIRMER
              

      else if url.startsWith("/admin/")
        
        article(class="item")
          div(class="overlay")
            p= `Nom : ${data.name} `
            p= `Numero de telephone: ${data.num_tel} `
            p= `Nombre de personne: ${data.nombre_personne} `
            p= `Addresse de départ: ${data.addresse_depart } `
            p= `Addresse d'arrivée: ${data.addresse_fin } `
            p= `Date de départ: ${data.date_depart}`
            p= `Heure de départ: ${data.heure_depart} `

            
            a(href=`${data._id}/update`) 
              button(class="btn btn-info btn-default ") Mettre à jour
            a(href=`${data._id}/delete`) 
              button(class="btn btn-info btn-default  ") Effacer

           
      else
        article(class="item")
          div(class="overlay")
            p= `Nom : ${data.name} `
            p= `Numero de telephone: ${data.num_tel} `
            p= `Nombre de personne: ${data.nombre_personne} `
            p= `Addresse de départ: ${data.addresse_depart } `
            p= `Addresse d'arrivée: ${data.addresse_fin } `
            p= `Date de départ: ${data.date_depart}`
            p= `Heure de départ: ${data.heure_depart} `

            -const query = `id=${user._id}&name=${data.name}&num_tel=${data.num_tel}&nombre_personne=${data.nombre_personne}&addresse_depart=${data.addresse_depart}&addresse_fin=${data.addresse_fin}&date_depart=${data.date_depart}&heure_depart=${data.heure_depart}`
            a.button(href=`/order-placed/${query}`) Reserver
          
          
      
      
      
      
      
      
      
        
      
      
      
      
      
      
      
      
      
      
      
      
        